@model Assignment08.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AidNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidNavigation.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PidNavigation.Pid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Bid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
